.title_row {
    color: #00000088 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.collapse-panel .card .card-header {
    padding: 12px 12px 0;
    border: none;
}

.collapse-panel .card .card-body {
    padding: 12px 12px 0;
    border: none;
}
